@import "zen";

.topbar {
  height: 100px;
  background: #aaa;

  .icon {
    height: 100px;
    text-align: center;
    float: left;
  }

  .navitem {
    font: 20px/90px Helvetica, sans-serif;
    text-align: center;
    height: 100px;
    padding: 0px 20px;
    float: left;
  }

}

.center {
  height: 200px;
  background: #ccc;
  font: 14px/190px Helvetica, sans-serif;
  text-align: center;
  border: 1px solid white;
}

.content {
  font: 14px Helvetica, sans-serif;
}

.topbar {
  @include zen-grid-item(9, 1);
}

.center {
  @include zen-new-row();
  @include zen-grid-item(7, 2);
}

@media screen and (max-width: 600px) {

  .topbar {
    @include zen-grid-item(9, 1);
  }

  .center {
    @include zen-new-row();
    @include zen-grid-item(9, 1);
  }

}

